@using DepartmentStoreManagementSystemWebApp.Models
@model DepartmentStoreManagementSystemWebApp.Models.Supplier
@{
    ViewBag.Title = "Supplier";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container .table {
            margin-top: 7rem;
            !important;
        }

        .container > .table > thead {
            background: #ff8b1e;
            color: white;
            text-align: center;
        }

        .container > .table > tbody {
            text-align: center;
        }
        input.btn-block[type="submit"] {
            width: 50%;
            margin-left: 353px;
        }
    </style>
    
</head>
<body>
    <h1 class="text-center">Supplier</h1>

    <div class="container clearfix">
        <form method="post">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", placeholder = "Address" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                    
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Phone" })
                </div>
            </div>
           
           
            <input type="submit" value="Save" class="btn btn-primary btn-block" />

        </form>
        <div>
            @if (ViewBag.message != null)
             {
                <h2 class="text-center">@ViewBag.message</h2>
              }
        </div>


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Purchase Price</th>

                </tr>
            </thead>
            <tbody>
            @foreach (Supplier item in ViewBag.list)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                </tr>
            }

            </tbody>
        </table>

    </div>



</body>
</html>

















